@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
    scroll-behavior: smooth;
}

.welcome_background {
    background-image: url("/storage/images/php_collage.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: despairs;
    background-attachment: fixed;
}